:root {
  --Orange: #ff7d1a;
  --Pale-orange: #ffede0;
  --Very-dark-blue: #1a1f29;
  --Dark-grayish-blue: #5f6d86;
  --Grayish-blue: #b6bcc9;
  --Light-grayish-blue: #fafafa;
  --White: #ffffff;
  --Black: #000000;
  --Black-white: hsla(0, 0%, 0%, 0.75);
}

body {
  overflow-x: hidden;
}

div.hero {
  gap: 40px;
}
div.hero .images {
  gap: 30px;
}
div.hero .images .slider {
  width: 500px;
}
div.hero .images .slider img {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
div.hero .images .slider button {
  display: none;
  width: 40px;
  height: 40px;
  outline: none;
  border: 1px solid var(--White);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
div.hero .images .slider button img {
  width: 20px;
  height: 20px;
}
div.hero .images .small-images {
  gap: 33px;
}
div.hero .images .small-images img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: op;
  -moz-transition: op;
  -ms-transition: op;
  -o-transition: op;
}
div.hero .images .small-images img:hover {
  opacity: 0.5;
}
div.hero .images .small-images img.active {
  border: 2px solid var(--Orange);
  opacity: 0.7;
}
div.hero .description {
  font-family: "Kumbh Sans", sans-serif;
}
div.hero .description > span {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--Dark-grayish-blue);
  letter-spacing: 2px;
}
div.hero .description span + h2 {
  font-weight: 700;
  font-size: 40px;
  color: var(--Very-dark-blue);
  margin-top: 10px;
  text-transform: capitalize;
}
div.hero .description h2 + p {
  font-weight: 400;
  font-size: 18px;
  color: var(--Dark-grayish-blue);
  margin-top: 10px;
  line-height: 30px;
}
div.hero .description p + h4.price {
  font-size: 30px;
  font-weight: 700;
}
div.hero .description h4.price + span.offer {
  position: absolute;
  top: 67.3%;
  left: 59%;
  font-size: 14px;
  font-weight: 700;
  width: 40px;
  height: 20px;
  text-align: center;
  background-color: var(--Black);
  color: var(--White);
  float: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
div.hero .description span.offer + span.real-price {
  font-weight: 700;
  font-size: 18px;
  text-decoration: line-through;
  position: relative;
  top: -30px;
}
div.hero .description p {
  width: 500px;
}
div.hero .control {
  gap: 10px;
}
div.hero .control button {
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
div.hero .control button:hover {
  opacity: 0.7;
}
div.hero .control button.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Orange);
  color: var(--White);
  width: 280px;
  font-size: 1.2rem;
  border: 1px soilid var(--Orange);
}
div.hero .control button.count {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Light-grayish-blue);
  border: 1px solid var(--Light-grayish-blue);
}
div.hero .control button.count:hover {
  opacity: 1;
}

@media (max-width: 411px) {
  body {
    overflow-x: hidden;
  }
  div.hero {
    flex-direction: column;
    align-items: center;
  }
  div.hero .images {
    flex-direction: column;
  }
  div.hero .images .slider button {
    display: flex;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }
  div.hero .images .slider button.next {
    right: 0;
  }
  div.hero .images .slider button.previos {
    left: 0;
  }
  div.hero .images .slider img {
    width: 83%;
    position: relative;
    left: -2.5px;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  div.hero .images .small-images {
    display: none;
  }
  div.hero .description {
    text-align: left;
  }
  div.hero .description h2 + p {
    width: 100%;
  }
  div.hero .description .offer {
    top: 104.5% !important;
    left: 35% !important;
  }
  div.hero .description .control {
    flex-direction: column;
  }
  div.hero .description .control button.add-to-cart {
    width: 100%;
    margin-bottom: 20px;
  }
  div.hero .description .control .count {
    width: 100%;
    margin-bottom: 20px;
  }
  div.hero .description .real-price {
    top: -65px !important;
    left: 75%;
  }
}/*# sourceMappingURL=Hero.css.map */