:root{
    --Orange: #ff7d1a;
    --Pale-orange: #ffede0;
    --Very-dark-blue: #1a1f29;
    --Dark-grayish-blue: #5f6d86;
    --Grayish-blue: #b6bcc9;
    --Light-grayish-blue: #fafafa;
    --White: #ffffff;
    --Black: #000000;
    --Black-white: hsla(0, 0%, 0%, 0.75);
}