@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

.d-none{
    /* display: none; */
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-col-reverse{
    flex-direction: column-reverse;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.align-center{
    align-items: center;
}
.align-baseline{
    align-items: baseline;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}

.font-400 {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "YOPQ" 300;
}
.font-700 {
    font-family: "Kumbh Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 700;
    font-variation-settings:
        "YOPQ" 300;
}
.gap{
    height: 100px;
}
@media (max-width: 411) {
    .gap{
        display: none;
    }
    hr{
        display: none;
    }
}